<div id="introduction-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% (0..3).each do |i| %>
        <li data-target="#introduction-carousel" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% (0..3).each do |i| %>
        <div class="item <%= i == 0 ? 'active' : '' %>">
          <%= image_tag("introduction/item-#{i}.png", alt: t("introduction.item_#{i}")) %>
          <div class="carousel-caption">
            <p><%= t("introduction.item_#{i}") %></p>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#introduction-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t('previous') %></span>
  </a>
  <a class="right carousel-control" href="#introduction-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t('next') %></span>
  </a>
</div>