<div id="membership">
  <h1><%= t('community.about_membership') %></h1>

  <p class="text-justify">
    <%= t('community.about_membership_html',
          community_name: t('community.name'),
          membership_application_url: link_to(t('community.about_membership_application_link_html',
                                                community_name: t('community.name')),
                                              membership_application_path)) %>
  </p>

  <h2><%= t('community.about_fee') + '*' %></h2>
  <table id="admission_fee" class="table">
    <tr>
      <th scope="col"></th>
      <th scope="col"><%= t('community.about_admission_fee') %></th>
      <th scope="col"><%= t('community.about_fee_contribution_quarter') %></th>
      <th scope="col"><%= t('community.about_fee_contribution_year') %></th>
    </tr>
    <tr>
      <td><%= t('community.about_fee_adults') %></td>
      <td>10</td>
      <td>3</td>
      <td>36</td>
    </tr>
    <tr>
      <td><%= t('community.about_fee_students') %></td>
      <td>10</td>
      <td>2</td>
      <td>24</td>
    </tr>
    <tr>
      <td><%= t('community.about_fee_youth') %></td>
      <td>10</td>
      <td>2</td>
      <td>24</td>
    </tr>
  </table>

  <div class="text-justify">
    <%= t('community.about_entrance_fee_html') %>
  </div>
</div>