<% provide(:title, t('page_title.contact')) %>

<h1><%= t('community.about_board_of_directors') %></h1>

<div class="text-center">
  <p><%= t('community.about_board_of_directors_chairman') + ' : ' +
             t('community.about_board_of_directors_chairman_name') %></p>
  <p><%= t('community.about_board_of_directors_vice_chairman') + ' : ' +
             t('community.about_board_of_directors_vice_chairman_name') %></p>
  <p><%= t('community.about_board_of_directors_treasurer') + ' : ' +
             t('community.about_board_of_directors_treasurer_name') %></p>
</div>

<h1><%= yield(:title) %></h1>

<div class="text-center">
  <p>
    <%= t('community.contact_html') %>
  </p>
</div>
