<% provide(:feed_title, t('feed_header')) %>

<%= render 'static_pages/introduction_carousel' %>

<div id="news_anchor"></div>
<div class="page-header">
  <h1><%= t('community_name') %>
    <small class="clearfix"> <%= t('community_page_introduction') %></small>
  </h1>
</div>

<% if can? :create, @post %>
    <%= render 'posts/post_form_modal', post: @post %>

    <%= link_to "<span class=\"pull-right glyphicon glyphicon-plus\"
      aria-label=\"#{t('compose_new_post')}\"></span>".html_safe,
                '#', data: {toggle: 'modal', target: '#new-post-modal'} %>
<% end %>

<div class="row">
  <%= render 'shared/feed' %>
</div>

<div class="row">
  <%= render 'facebook/fb_feed' %>
</div>
