<%= render 'static_pages/introduction_carousel' %>

<div id="news_anchor"></div>
<div class="page-header">
  <h1><%= t('community_name') %>
    <small class="clearfix"> <%= t('community_page_description') %></small>
  </h1>
</div>

<% if logged_in? && current_user.admin? %>
    <%= render 'posts/post_form_modal', post: @post %>
<% end %>

<h2>
  <%= t('feed_header') %>
  <% if logged_in? && current_user.admin? %>
      <%= link_to "<span class=\"pull-right glyphicon glyphicon-plus\"
      aria-label=\"#{t('compose_new_post')}\"></span>".html_safe,
                  '#', data: {toggle: 'modal', target: '#new-post-modal'} %>
  <% end %>
</h2>

<% if @feed && @feed.any? %>
    <div class="row">
      <%= render 'shared/feed' %>
    </div>
<% end %>

<% if @fb_feed && @fb_feed.any? %>
    <h2><%= t('fb_feed_header') %></h2>

    <div class="row">
      <%= render 'facebook/fb_feed' %>
    </div>
<% end %>
