<h1><%= t('user_mailer.password_reset.subject') %></h1>

<p><%= t('click_link_to_reset_pw') %></p>

<%= link_to t('reset_password'), edit_password_reset_url(@user.perishable_token,
                                                      email: @user.email,
                                                      locale: I18n.locale) %>

<p><%= t('link_will_expire') %></p>

<p>
  <%= t('ignore_password_reset') %>
</p>