<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </aside>

  <div class="col-md-12">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
        <h3><%= t('user_feed_header', user_name: @user.name) %></h3>
        <%= render 'shared/feed' %>
    <% end %>
  </div>
</div>