<%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: t('compose_new_post'), rows: 6 %>
    </div>

    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', aria: {describedby: "helpBlock"} %>
    </span>
    <span id="helpBlock" class="help-block"><%= t('maximum_file_size') %></span>

    <%= f.submit t('post'), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
    $('#post_picture').bind('change', function () {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
            alert('<%= t('maximum_file_size_alert') %>');
        }
    });
</script>