<div id="post-<%= post['id'] %>">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="thumbnail">
      <div class="caption">
        <div class="stamp">
          <%= image_tag(post['icon'], alt: post['icon'], align: 'middle') if post['icon'].present? %>
          <% if post['story'].present? %>
              <%= post['story'] %>
          <% else %>
              <%= post['name'] %>
          <% end %>
          <%= link_to "<span class=\"pull-right glyphicon glyphicon-link\"></span>".html_safe,
                      post['permalink_url'], target: '_blank', rel: 'noopener' if post['permalink_url'].present? %>
          <br>
          <%= t('ago', time_ago_in_words: time_ago_in_words(post['created_time'])) %>
        </div>

        <div class="content">
          <% if post['message'].present? && post['message'].length > 150 %>
              <%= auto_format_html(truncate post['message'], length: 150) %>
              <%= link_to t('read_more'), '', class: "read-more-#{post['id']}" %>
              <script>
                  $('.read-more-<%= post['id'] %>').on('click', function (e) {
                      e.preventDefault()
                      $(this).parent().html('<%= escape_javascript auto_format_html(post['message']) %>')
                  })
              </script>
          <% else %>
              <%= auto_format_html(post['message']) %>
          <% end %>
        </div>

        <div class="thumbnail">
          <div class="caption">
            <div class="stamp">
              <%= link_to post['name'] ? post['name'] : '', post['link'], target: '_blank', rel: 'noopener' if post['story'].present? %>
            </div>
            <%= link_to image_tag(post['full_picture'], alt: post['name'], align: 'middle'),
                        post['link'], target: '_blank', rel: 'noopener' if post['full_picture'].present? %>

            <div class="content">
              <% if post['description'].present? && post['description'].length > 150 %>
                  <%= auto_format_html(truncate post['description'], length: 150) %>
                  <%= link_to t('read_more'), '', class: "read-more-description-#{post['id']}" %>
                  <script>
                      $('.read-more-description-<%= post['id'] %>').on('click', function (e) {
                          e.preventDefault()
                          $(this).parent().html('<%= escape_javascript auto_format_html(post['description']) %>')
                      })
                  </script>
              <% else %>
                  <%= auto_format_html(post['description']) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
