<div id="post-<%= post.id %>">
  <span class="content"><%= post.content %></span>
  <span class="picture">
    <%= link_to image_tag(post.picture.thumb.url, alt: post.picture.filename), post.picture.url, target: "_blank" if post.picture? %>
  </span>

  <span class="stamp">
    <% if logged_in? %>
        <%= t('posted_by') %>
        <%= link_to gravatar_for(post.user, size: 12), post.user %>
        <%= link_to post.user.name, post.user, class: "user" %>
        <%= t('ago', time_ago_in_words: time_ago_in_words(post.created_at)) %>

        <% if current_user.admin? %>
          <%= link_to t('delete'), post, method: :delete,
                      data: {confirm: t('you_sure')} %>
        <% end %>
    <% else %>
        <%= t('posted') %>
        <%= t('ago', time_ago_in_words: time_ago_in_words(post.created_at)) %>.
    <% end %>
  </span>
</div>