<div id="post-<%= post.id %>">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="thumbnail">
      <div class="caption">
        <div class="stamp">
          <% if logged_in? %>
              <%= link_to gravatar_for(post.user, size: 40), post.user %>

              <%= t('posted_by') %>
              <%= link_to post.user.name, post.user, class: "user" %>

              <% if current_user.admin? %>
                  <li class="dropdown pull-right options">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t('edit'), edit_post_path(post),
                                      data: {toggle: 'modal', target: "#edit-post-modal-#{post.id}"} %></li>
                      <li><%= link_to t('delete'), post, method: :delete,
                                      data: {confirm: t('you_sure'), disable_with: t('deleting')}, remote: true %></li>
                    </ul>
                  </li>
              <% end %>
              <br>
              <%= t('ago', time_ago_in_words: time_ago_in_words(post.created_at)) %>
          <% else %>
              <%= t('posted') %>
              <%= t('ago', time_ago_in_words: time_ago_in_words(post.created_at)) %>.
          <% end %>
        </div>

        <div class="content">
          <p><%= auto_format_html post.content %></p>
        </div>

        <%= link_to image_tag(post.picture.thumb.url, alt: post.picture.file.basename, align: "middle"),
                    '#', target: "_blank",
                    data: {toggle: 'modal', target: "#image-modal-#{post.id}"} if post.picture? %>
      </div>
    </div>
  </div>
</div>