<footer class="footer">
  <small class="rails-logo">
    <%= link_to image_tag('rails.png', height: '30', alt: t('rails_logo')), 'http://rubyonrails.org/' %>
  </small>

  <nav>
    <ul>
      <% if current_user&.admin? %>
          <li class="dropdown dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('menu.administration.administration') %> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('menu.administration.users'), users_path %></li>
            </ul>
          </li>
      <% end %>
      <li><%= link_to t('menu.about'), about_path %></li>
      <li><%= link_to t('menu.contact'), contact_path %></li>
      <li><%= link_to t('menu.help'), help_path %></li>
    </ul>
  </nav>
</footer>