<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'application/favicon' %>
    <!-- bootstrap viewport meta tag to ensure proper rendering and touch zooming -->
    <%= tag.meta(name: 'viewport', content: 'width=device-width, initial-scale=1') if protect_against_forgery? %>
    <!-- google g suite admin verification. Verify that you own the domain of this community app -->
    <%= tag.meta(name: 'google-site-verification', content: ENV['GOOGLE_SITE_VERIFICATION']) unless ENV['GOOGLE_SITE_VERIFICATION'].empty? %>
    <%= javascript_include_tag 'google_maps' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= render 'shared/flash_messages' %>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
